<!doctype html>
<html lang="en">
<head>
    <title>BLM4821 - Big Data Analytics Term Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
</head>
<style>
#mapid { height: 230px; }
</style>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">BLM4821 - Big Data Analytics Term Project</h3>
        </div>
        <div class="jumbotron">
            <h1>Chicago Crime Analytics</h1>
            <p class="lead"></p>
        </p>
    </div>
    
    <div class="row marketing">
        <div class="col-md-4">
            <h4>Crime Type <button class="btn btn-success btn-sm" onclick="httpGet('/crime_type/start');">Start Job</button><button class="btn btn-danger btn-sm" onclick="httpGet('/crime_type/delete')">Delete Data</button></h4>
            <canvas id="crime_type_chart" width="400" height="250"></canvas>                
        </div>
        <div class="col-md-4">
            <h4>Arrest Type <button class="btn btn-success btn-sm" onclick="httpGet('/arrest_type/start');">Start Job</button><button class="btn btn-danger btn-sm" onclick="httpGet('/arrest_type/delete')">Delete Data</button></h4>
            <canvas id="arrest_type_chart" width="400" height="250"></canvas> 
        </div>
        <div class="col-md-4">
            <h4>Year <button class="btn btn-success btn-sm" onclick="httpGet('/year/start');">Start Job</button><button class="btn btn-danger btn-sm" onclick="httpGet('/year/delete')">Delete Data</button></h4>
            <canvas id="year_chart" width="400" height="250"></canvas> 
        </div>
        <div class="col-md-8">
            <h4>Map</h4>
            <div id="mapid"></div>               
        </div>
        <div class="col-md-4">
            <h4>FBI Code <button class="btn btn-success btn-sm" onclick="httpGet('/fbi_code/start');">Start Job</button><button class="btn btn-danger btn-sm" onclick="httpGet('/fbi_code/delete')">Delete Data</button></h4>
            <canvas id="fbi_code_chart" width="400" height="250"></canvas> 
        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; YTU Computer Engineering 2019 - Big Data Analytics Course</p>
    </footer>
    
</div>
</body>
<script>


function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
$(document).ready(function(){
    $.getJSON("/crime_type",function (gelen) {
        var ctx = document.getElementById('crime_type_chart').getContext('2d');
        var crime_type_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: gelen.labels,//['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Occurences',
                    data: gelen.values,//[12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    })

    $.getJSON("/arrest_type",function (gelen) {
        var ctx = document.getElementById('arrest_type_chart').getContext('2d');
        var crime_type_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: gelen.labels,//['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Occurences',
                    data: gelen.values,//[12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    })

    $.getJSON("/year",function (gelen) {
        var ctx = document.getElementById('year_chart').getContext('2d');
        var crime_type_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: gelen.labels,//['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Occurences',
                    data: gelen.values,//[12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    })

    $.getJSON("/fbi_code",function (gelen) {
        var ctx = document.getElementById('fbi_code_chart').getContext('2d');
        var crime_type_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: gelen.labels,//['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Occurences',
                    data: gelen.values,//[12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    })
    
    x = parseFloat(51.505);
    y = parseFloat(-0.09);
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia29wZWNpZ2l2byIsImEiOiJjanZsNWdib2gwb3NrNGNvZmVva2hzM3lvIn0.36MSmaC_fNd6ZBQk8s40hA', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    marker = L.marker([x,y]).addTo(mymap);
});
</script>
</html>
